<!DOCTYPE html>
<html>
  <head>
    <title>CarBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="Contanir">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4">
          <div class="card bx">
            <div class="card-body">
                  
              
                    
              <h2 class="row justify-content-center mt-5">Forgot your password?</h2>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

            
                <div class="field row justify-content-center mt-3">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="mt-3 d-grid gap-2">
                  <%= f.submit "Resat possword", class: "btn btn-primary" %>
                </div>
              <% end %>
          
              <div class="d-grid gap-2 mt-3">
                <p>  
                  <% if controller_name != 'sessions' %>
                    <%= link_to "Log in", new_session_path(resource_name) %>
                  <% end %>
                  or
                  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "Sign up", new_registration_path(resource_name) %>
                  <% end %>
                </p>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>      
 </body>
</html>
